attrs==21.4.0
autopep8==1.6.0
certifi==2022.12.7
chardet==4.0.0
charset-normalizer==2.0.10
distro==1.6.0
idna==3.3
importlib-metadata==4.10.1
iniconfig==1.1.1
packaging==21.3
pep8==1.7.1
pluggy==1.0.0
praw==7.5.0
prawcore==2.3.0
py==1.11.0
pycodestyle==2.8.0
pyparsing==3.0.7
pytest==6.2.5
requests==2.27.1
toml==0.10.2
typing_extensions==4.0.1
update-checker==0.18.0
urllib3==1.26.8
websocket-client==1.2.3
zipp==3.7.0
